IMAGE_NAME=hegenai/comfyui

# CUDA / PyTorch
CUDA_PROFILE=cu128
CUDA_VERSION=12.8.2
UBUNTU_VERSION=ubuntu22.04
PYTORCH_INDEX_URL=https://download.pytorch.org/whl/cu128

# Runtime paths
COMFYUI_HOME=/root/ComfyUI
PIP_CACHE_DIR=/root/.cache/pip
CONDA_PKGS_DIRS=/root/miniforge/pkgs
NPM_CONFIG_CACHE=/root/.npm
UV_CACHE_DIR=/root/.cache/uv
RUNTIME_COMFYUI_DIR=../storage/runtime/ComfyUI
DEVEL_COMFYUI_DIR=../storage/devel/ComfyUI
RUNTIME_PIP_CACHE_DIR=../storage/runtime/cache/pip
RUNTIME_CONDA_CACHE_DIR=../storage/runtime/cache/conda-pkgs
RUNTIME_NPM_CACHE_DIR=../storage/runtime/cache/npm
RUNTIME_UV_CACHE_DIR=../storage/runtime/cache/uv
DEVEL_PIP_CACHE_DIR=../storage/devel/cache/pip
DEVEL_CONDA_CACHE_DIR=../storage/devel/cache/conda-pkgs
DEVEL_NPM_CACHE_DIR=../storage/devel/cache/npm
DEVEL_UV_CACHE_DIR=../storage/devel/cache/uv

# Python / Miniforge
MINIFORGE_INSTALLER_URL=https://github.com/conda-forge/miniforge/releases/latest/download/Miniforge3-Linux-x86_64.sh
PYTHON_VERSION=3.12

# ComfyUI / Node.js
COMFYUI_REPO=https://github.com/Comfy-Org/ComfyUI.git
COMFYUI_REF=master
# Only 22 or 24
NODEJS_VERSION=22

# Torch main version only
TORCH_VERSION=2.7.0

# Ports
RUNTIME_PORT=8188
DEVEL_PORT=8190
